#main-footer {
    background: #343a40;
    color: #fff;
    text-align: center;
    p {
        margin-bottom: 0;
        padding: 0.5rem;
    }
}

#page-header {
    height: 200px;
    background: #fdfdfd;
    background-position: 60% 50%;
    background-attachment: fixed;
    color: #111;
    border-bottom: 1px solid #eee;
    padding-top: 60px;
}
